# When installing libfobos driver, a fobos-sdr.rules is created that is lacking the plugdev group
# Installing ka9q-radio will overwrite the existing rule with this one to add the missing plugdev group.
SUBSYSTEMS=="usb", ATTRS{idVendor}=="16d0", ATTRS{idProduct}=="132e", MODE="0660", GROUP="plugdev", TAG+="uaccess"
